@inherits LayoutComponentBase
@inject NavigationManager Navigation

<link rel="manifest" href="/manifest.json">

<div class="flex flex-col min-h-screen">
    @if (!IsHomePage)
    {
        <NavBar />
    }

    <main class="@(IsHomePage ? "items-center justify-center" : "flex flex-grow flex-1 items-center justify-center")">
        <article class="w-full">
            @Body
        </article>
    </main>
</div>

<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener("load", () => {
            navigator.serviceWorker.register("/ServiceWorker.js");
        });
    }
</script>

@code {
    private bool IsHomePage => Navigation.Uri.EndsWith("/");
}
