@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="min-h-screen flex flex-col">
    @if (!IsHomePage)
    {
        <NavBar />
    }

    <main class="flex-grow">
        <article>
            @Body
        </article>
    </main>
</div>

@code {
    private bool IsHomePage => Navigation.Uri.EndsWith("/");
}
