@inherits LayoutComponentBase

<div class="min-h-screen flex flex-col">
    <main class="flex-grow">
        <div class="flex justify-between items-center px-4 py-2 bg-gray-100 shadow">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank"
                class="text-blue-500 hover:underline">About</a>
        </div>

        <article class="px-4 py-6">
            @Body
        </article>
    </main>
</div>
