@page "/home"
@using LeafletForBlazor

<div class="flex justify-center">
    <RealTimeMap Parameters="parameters" Options="options" @ref="realTimeMap" height="450px" width="1000px"></RealTimeMap>
</div>

@code {
    RealTimeMap realTimeMap = new RealTimeMap();

    RealTimeMap.LoadParameters parameters = new RealTimeMap.LoadParameters()
    {
        location = new RealTimeMap.Location()
        {
            latitude = 45.6982642,
            longitude = 9.6772698,
        },
        zoomLevel = 18
    };

    RealTimeMap.MapOptions options = new RealTimeMap.MapOptions()
    {
        interactionOptions = new RealTimeMap.InteractionOptions()
        {
            doubleClickZoom = true,
            shiftBoxZoom = false,
        },
    };
}