@page "/login"

@using Models.front
@using Models.http

@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject AuthService authService

<div>
    <LoginForm OnLogin="HandleLogin" />
</div>

@code {
    private async Task HandleLogin(LoginModel model)
    {
        Console.WriteLine($"Email: {model.Email}, Password: {model.Password}");

        LoginResponse result = await authService.LoginAsync(model.Email, model.Password);

        if (result != null)
        {
            await localStorage.SetItemAsync("token", result.Token);
            await localStorage.SetItemAsync("user", result.User);
            Console.WriteLine("Login successful!");
        }
        else
        {
            Console.WriteLine("Login failed.");
        }

        await Task.CompletedTask;
    }
} 
