@page "/verify-email"
@using System.Web
@using System.Collections.Specialized

@inject NavigationManager NavigationManager
@inject EmailVerificationTokenService emailVerificationTokenService

<h3 class="text-2xl font-bold mb-4">Verify Your Token</h3>
<Alert AlertData="@AlertData" OnDismissed="@(() => AlertData.IsVisible = false)" />

@if (IsLoading)
{
    <p class="text-gray-500">Verifying your token, please wait...</p>
}
else if (IsValid == true)
{
    <div class="p-4 mb-4 text-green-700 bg-green-100 rounded">
        Token verified successfully! 🎉
    </div>
}
else if (IsValid == false)
{
    <div class="p-4 mb-4 text-red-700 bg-red-100 rounded">
        Token verification failed. Please check your token and try again.
    </div>
}
else
{
    <p class="text-gray-700">No token provided.</p>
}

@code {
    private bool? IsValid = null;
    private bool IsLoading = true;
    private string? Token; 
    private AlertModel AlertData = new();

    protected override async Task OnInitializedAsync()
    {
        Uri uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        NameValueCollection query = HttpUtility.ParseQueryString(uri.Query);
        Token = query.Get("token");

        if (string.IsNullOrEmpty(Token))
        {
            IsLoading = false;
            IsValid = null;

            AlertData = new AlertModel
            {
                IsVisible = true,
                Style = AlertTypeEnum.Information,
                Message = "No token provided. Please check the URL.",
                Title = "Token Verification",
                Position = AlertStylePositionEnum.BottomRight,
            };
        }
        else
        {
            await VerifyToken(Token);
        }
    }

    private async Task VerifyToken(string token)
    {
        VerificationTokenResponse? result = await emailVerificationTokenService.VerifyTokenAsync(token);

        if (result != null && (result.StatusCode >= 200 && result.StatusCode <= 299) && result.IsValid == true)
        {
            IsValid = true;

            AlertData = new AlertModel
            {
                IsVisible = true,
                Style = AlertTypeEnum.Information,
                Message = "Account confirmed successfully! You can now log in.",
                Title = "Success",
                Position = AlertStylePositionEnum.BottomRight,
            };

            NavigationManager.NavigateTo("/login");
        }
        else
        {
            Console.WriteLine($"Account confirmation failed: {result?.Message ?? "Unknown error"}");
            AlertData = new AlertModel
            {
                IsVisible = true,
                Style = AlertTypeEnum.Danger,
                Message = "Account confirmation failed. Please check your token and try again.",
                Title = "Error",
                Position = AlertStylePositionEnum.BottomRight,
            };
        }
    }
}
